.online-dot{
  width: 10px;
  height: 10px;
  background-color: #26d652;
  border-radius: 50%;
   animation: blink .7s infinite alternate;
}

@keyframes blink{
  from {
    opacity: 1;
  }

  to{
    opacity: .4;
  }
  
}